@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

